.t1-l-m{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.t1-l-xl{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}
.t1-l-x{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2.2rem;
}
.t1-m-m{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.t1-m-x{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
.t1-b-xl{
    font-family: "DM sans", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3.5rem
}
@media (max-width: 600px){
    .t1-b-xl{
        font-size: 2.5rem;
    }
    .t1-l-m{
        font-size: 1rem;
    }
}