.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 200px;
}
.contato form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
.input{
    display: flex;
    flex-direction: column;
}
.input input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    border-bottom: 2px solid var(--cor-texto2);
    width: 400px;
    height: 30px;
}
.input input::placeholder{
    font-size: 1rem;
}
.input input:-webkit-autofill {
    background-color: transparent;
    box-shadow: 0 0 0 30px transparent inset;
}

.input input:-ms-input-placeholder {
    color: white;
}
.textarea{
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
}
.textarea textarea{
    height: 200px;
    width: 100%;
    text-indent: 1rem;
    color: white;
    border: 2px solid var(--cor-texto2);
    background-color: transparent;
    text-align: start;
}
.submit {
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.submit input {
    justify-self: center; 
    align-self: center; 
    width: 143px;
    padding: 10px;
    margin-top: -40px;
    color: white;
    cursor: pointer;
    transition: .3s;
    border: none;
}
.submit input:hover{
    background-color: rgb(110, 52, 197);
}
@media (max-width: 600px){
    .contato{
        text-align: center;
    }
    .contato form{
        grid-template-columns: 1fr;
    }
    .input input{
        width: 250px;
    }
}
